/**************************
********* General **********
***************************/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
    

.p-10{
  padding-left: 0.5em!important;
}

.p-10-b{
  padding: 2rem;
  padding-bottom: 15rem!important;
}


.loading-container{
  text-align: center;
  padding: 5rem;
}

.m-10{
  margin: 1rem!important;
}


/**************************
********* Navbar **********
***************************/

.nav-extended {
  background-color: #1e88e5!important;
}

.logo-name{
  font-size: 2rem;

}


/**************************
********* Footer **********
***************************/

.page-footer{
  background-color: #1e88e5!important;
}



/**************************
********* Form **********
***************************/

 .input-field input[type=url]:focus + label {
  color: #1e88e5!important;
}

.input-field input[type=url]:focus {
  border-bottom: 1px solid #1e88e5!important;
  box-shadow: 0 1px 0 0 #000!important;
}


/**************************
****** Media Query ********
***************************/

@media only screen and (min-width: 1024px) {

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
   
  }

}


